@model List<Model.EF.product>
@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Tìm kiếm theo từ khóa: @ViewBag.Keyword</h3>
        </div>
        <div class="see">
            <p><a href="#">Xem tất cả</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in Model)
        {
            var url = "/Client/Product/Detail/" + item.id_product;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="~/Assets/Client/images/@item.images" alt="" /></a>
                <h2>@item.name</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.price.HasValue ? item.price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/Client/Cart/AddItem?productId=@item.id_product&quantity=1">Thêm vào giỏ hàng</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }
        <div class="clear"></div>
        <!--Phân trang-->
        @if (ViewBag.TotalPage > 1)
        {
            var pageDisplay = (int)ViewBag.MaxPage;
            int totalPage = (int)ViewBag.TotalPage;
            int currentPage = ((int)ViewBag.Page);

            // Create numeric links
            var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
            var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);
            var link = "/Client/Product/Search?keyword" + ViewBag.Keyword;
            <nav aria-label="Page navigation example">
                <div class="pagination">
                    @if (currentPage > ViewBag.First)
                    {
                        <a href="@link&page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a>

                        <a href="@link&page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>


                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {

                            <a href="@link&page=@i" class="active" title="Trang @i">@i</a>
                        }
                        else
                        {
                            <a href="@link&page=@i" title="Trang @i" class="pos">@i</a>
                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <a href="@link&page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a>
                        <a href="@link&page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a>
                    }
                </div>
            </nav>
        }
        else
        {
            <span>
                Không có bản ghi nào
            </span>
        }
    </div>
</div>

